version: 2.1

jobs:
  build:
    docker:
      - image: lpozas/cross-compile-container:arm64
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    working_directory: ~/project

    steps:
      - checkout
      - run: cmake -DCMAKE_TOOLCHAIN_FILE=/cmake/aarch64-rpi4-linux-gnu.cmake -S . -B ./build
      - run: cmake --build ./build
  release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - attach_workspace:
          at: ./build
      - run:
          name: "Publish Release on GitHub"
          command: |
            VERSION=1.0
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./build/hello

workflows:
  build_and_release:
    # List of jobs that will run
    jobs:
      - build
      - release:
          requires:
            - build